.left-nav-box {
    position: fixed;
    top: 0;
    left: 20px;
    height: 100vh;
    display: flex;
    align-items: stretch;
    /* 确保子元素填充整个容器的高度 */
}

.progress-bar {
    position: absolute;
    top: 0;
    left: -5px;
    /* 调整到左侧导航栏左边 */
    width: 5px;
    /* 进度条宽度 */
    background-color: #4caf50;
    height: 0;
    /* 初始高度为0 */
    transition: height 0.2s ease-in-out;
}

.leftsidenav {
    width: 200px;
    background-color: #f4f4f4;
    padding-top: 50%;
}

.subnav {
    margin-bottom: 20px;
}

.subnav .subnav-title-1 {
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    transition: font-size 0.3s, color 0.3s;
}

.subnav-title-2 {
    padding: 10px 20px;
    cursor: pointer;
    display: none;
}

.subnav.active .subnav-title-2 {
    display: block;
    /* 显示子标题 */
}

.subnav.active .subnav-title-1 {
    font-size: 1.2em;
    /* 放大字体 */
    color: #4caf50;
    /* 改变颜色 */
}