@font-face {
  font-family: "iconfont"; /* Project id 4773240 */
  src: url('iconfont.woff2?t=1739964565331') format('woff2'),
       url('iconfont.woff?t=1739964565331') format('woff'),
       url('iconfont.ttf?t=1739964565331') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huidaodingbu:before {
  content: "\e647";
}

