.news {
    width: 100%;
    height: 800px;
    background-image: url(../images/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.news .wrapper {
    height: 100%;
    width: 1500px;
    background: linear-gradient(to right, #053d79, #114984, #053d79);
    box-sizing: border-box;
}

.news .header {
    display: flex;
    justify-content: space-between;
}

.news .left-header {
    width: 1125px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    padding-left: 60px;
}

.news .left-header h1 {
    color: white;
    font-size: 32px;
    padding-top: 40px;
}

.news .left-header .left {
    position: relative;
}

.news .left-header .left i::before {
    content: "";
    width: 30px;
    height: 1px;
    position: absolute;
    left: 0;
    background-color: white;
    margin-top: 10px;
}

.news .left-header .left i {
    display: inline-block;
    color: white;
    font-size: 16px;
    margin-left: 50px;
}

.news .left-header .right {
    display: flex;
    box-sizing: border-box;
    height: 150px;
    width: 300px;
    color: #fff;
    position: relative;
}

.news .left-header .right .iconfont {
    position: absolute;
    right: 0;
    font-size: 20px;
    bottom: 38px;
    color: #fff;
}

.news .left-header .right .iconfont a {
    font-size: 18px;
    margin-left: 5px;
    color: #fff;
}

.news .left-header .right .iconfont:hover {
    color: #d73f11;
}

.news .left-header .right .iconfont:hover a {
    color: #d73f11;
}

.news .right-header {
    position: relative;
    width: 375px;
    height: 150px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}

.news .right-header h1 {
    color: white;
    font-size: 32px;
    padding-top: 40px;
}

.news .right-header .left {
    position: relative;
}

.news .right-header .left i::before {
    content: "";
    width: 30px;
    height: 1px;
    position: absolute;
    left: 0;
    background-color: white;
    margin-top: 10px;
}

.news .right-header .left i {
    display: inline-block;
    color: white;
    font-size: 16px;
    margin-left: 50px;
}

.news .right-header .right .iconfont {
    position: absolute;
    right: 30px;
    font-size: 20px;
    bottom: 38px;
    color: #fff;
}

.news .right-header .right .iconfont a {
    font-size: 18px;
    margin-left: 5px;
    color: #fff;
}

.news .right-header .right .iconfont:hover {
    color: #a8300c;
}

.news .right-header .right .iconfont:hover a {
    color: #a8300c;
}

.news .content {
    display: flex;
    justify-content: space-between;
}

.news .left-content {
    width: 1125px;
    height: 650px;
    padding: 0 30px;
    padding-left: 60px;
    border-right: 1px solid #ccc;
}

.news .right-content {
    width: 375px;
    height: 650px;
    padding: 0 30px;
}

.news .left-content ul {
    display: flex;
    transform: translateY(100%);
    opacity: 0;
}

@keyframes newsslideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.news-slide-in {
    animation: newsslideIn 1s ease-out forwards;
}

.news .left-content li {
    width: 258px;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.news .left-content li img {
    display: block;
    width: 258px;
    height: 300px;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.5s ease;
}

.news .left-content li a {
    display: block;
}

.news .left-content li .text {
    position: relative;
    padding: 30px;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.news .left-content li:nth-child(1) .text,
.news .left-content li:nth-child(3) .text {
    background-color: #800303;
}

.news .left-content li:nth-child(2) .text,
.news .left-content li:nth-child(4) .text {
    background-color: #fff;
}

.news .left-content li .text::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e6c390;
    transition: top 0.5s ease-in-out;
}

.news .left-content li h1,
.news .left-content li p,
.news .left-content li h2 {
    color: #fff;
    position: relative;
    z-index: 1;
}

.news .left-content li h1 {
    font-size: 17px;
    margin-bottom: 10px;
}

.news .left-content li p {
    font-size: 15px;
    margin-bottom: 10px;
    opacity: 0.7;
}

.news .left-content li h2 {
    font-size: 14px;
}

.news .left-content li:nth-child(even) h1,
.news .left-content li:nth-child(even) p,
.news .left-content li:nth-child(even) h2 {
    color: #053d79;
}

.news .left-content li:hover .text::before {
    top: 0;
}

.news .left-content li:hover .text h1,
.news .left-content li:hover .text p,
.news .left-content li:hover .text h2 {
    color: #0d0d0d;
}

.news .left-content li:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

.news .right-content .media {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.news .right-content.media a {
    display: block;
}

.news .right-content .media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.5s ease;
}

.news .right-content .media:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

.news .right-content .media .text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 10px 5px;
    overflow: hidden;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

.news .right-content .media .text h1 {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
}

.news .right-content .media .text p {
    font-size: 12px;
    color: #fff;
    opacity: 0.8;
}

.news .right-content ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    transform: translateX(100%);
    opacity: 0;
}

@keyframes mediaslideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.media-slide-in {
    animation: mediaslideIn 1s ease-out forwards;
}

.news .right-content li {
    width: 100%;
    margin-top: 20px;
    transition: all 0.5s ease;
    overflow: hidden;
    position: relative;
}

.news .right-content li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #ff6347;
    transition: all 0.5s ease;
}

.news .right-content li:hover::after {
    width: 50%;
}

.news .right-content li a {
    display: block;
}

.news .right-content li h1 {
    font-size: 16px;
    color: #fff;
    margin: 0;
    transition: all 0.5s ease;
}

.news .right-content li p {
    font-size: 18px;
    color: #000;
    margin: 0;
    transition: all 0.5s ease;
}

.news .right-content li:hover h1,
.news .right-content li:hover p {
    color: #ff6347;
    transform: translateY(-5px);
}